#Assignment : Python - Data Structure

#Theoretical Questions

1. What are data structures, and why are they important?
- Data structures are ways to organize and store data so that we can access and work with it efficiently. They’re important because they make our programs faster and more reliable. For example, if you’re building an app, the right data structure helps manage things like users, messages, or settings.

2. Explain the difference between mutable and immutable data types with examples.
- Mutable means you can change the value after creating it. Example: lists (my_list[0] = 10).
Immutable means once created, it can’t be changed. Example: strings or tuples (my_tuple[0] = 10 throws an error).

3. What are the main differences between lists and tuples in Python?
- Lists are mutable (you can change them), while tuples are immutable (you can’t change them).
Lists use more memory because they’re flexible, while tuples are faster and more memory-efficient.
  - Syntax: Lists use square brackets [ ], tuples use parentheses ( ).

4. Describe how dictionaries store data.
- Dictionaries store data in key-value pairs. It’s like a real dictionary where a word (key) maps to its definition (value). Python uses something called a hash table to make accessing the data super fast.

5. Why might you use a set instead of a list in Python?
- Sets are great when you only care about unique values. Unlike lists, sets automatically remove duplicates and are faster for checking if something exists (in keyword).

6. What is a string in Python, and how is it different from a list?
- A string is a sequence of characters (like text). It’s similar to a list because you can loop through it or access specific parts (my_string[0]). But strings are immutable, while lists are mutable.

7. How do tuples ensure data integrity in Python?
- Tuples are immutable, meaning you can’t accidentally change their values. This makes them great for storing data that should stay constant, like coordinates or database records.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that lets you store and retrieve data quickly using a unique key. Python’s dictionaries use hash tables under the hood to make looking up values fast, even with lots of data.

9. Can lists contain different data types in Python?
- Yes, lists can hold anything—strings, numbers, other lists, or even functions.

In [3]:
 #For example:


my_list = [1, "hello", [2, 3], len]

10. Explain why strings are immutable in Python.
- Strings are immutable to make them more memory-efficient and safer. If multiple parts of your program use the same string, they don’t need separate copies. This also prevents accidental changes.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries are faster for looking up data by a key compared to searching through a list. They also make your code more readable because you can use meaningful keys instead of relying on indexes.

12. Describe a scenario where using a tuple would be preferable over a list.
- If you’re working with data that shouldn’t change, like GPS coordinates ((40.7128, -74.0060) for NYC), use a tuple. It ensures no one accidentally modifies the data.

13. How do sets handle duplicate values in Python?
- Sets automatically remove duplicates. If you try to add the same value twice, it’s ignored.

14. How does the “in” keyword work differently for lists and dictionaries?
- In lists, it checks if a value exists in the list.
In dictionaries, it checks if a key exists (not the value).

In [4]:
#Example:
my_list = [1, 2, 3]
my_dict = {"a": 1, "b": 2}

print(1 in my_list)  # True
print("a" in my_dict)  # True
print(1 in my_dict)  # False

True
True
False

15. Can you modify the elements of a tuple? Explain why or why not.
- No, you can’t modify a tuple because it’s immutable. Python designed tuples this way to ensure data integrity and make them faster than lists.

16. What is a nested dictionary, and give an example of its use case.
- A nested dictionary is a dictionary inside another dictionary. It’s useful for storing hierarchical data like student records:

In [5]:
students = {
    "John": {"age": 20, "grades": [90, 80]},
    "Jane": {"age": 22, "grades": [85, 95]}
}

17. Describe the time complexity of accessing elements in a dictionary.
- Accessing elements in a dictionary is O(1) on average, meaning it’s very fast. This is because Python uses hash tables, which don’t need to search through all the data.

18. In what situations are lists preferred over dictionaries?
- Use lists when: You only care about the order of items.
You don’t need unique keys or fast lookups.
  - For example, storing a simple list of numbers: [1, 2, 3, 4].

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries don’t store data in a specific order internally; they focus on fast access. Starting from Python 3.7, they preserve the insertion order, but that’s just a feature, not a guarantee.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- List: You retrieve data by index, so it’s slower for searching specific values (O(n)).
- Dictionary: You retrieve data by key, which is much faster (O(1) on average).

#Practical Questions

In [7]:
#1. Write a code to create a string with your name and print it
name = "Ankit Gupta"
print(name)

Ankit Gupta

In [8]:
#2. Write a code to find the length of the string "Hello World"
string = "Hello World"
length = len(string)
print(length)

11

In [9]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"

string = "Python Programming"
sliced = string[:3]
print(sliced)

Pyt

In [10]:
#4. Write a code to convert the string "hello" to uppercase

string = "hello"
uppercase = string.upper()
print(uppercase)

HELLO

In [11]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

In [12]:
#6. Write a code to create a list with numbers 1 to 5 and print it

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [14]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [15]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [16]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [17]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [18]:
#11. Write a code to create a tuple with the elements 10, 20, 30 and print it

my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [19]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

fruits = ('apple', 'banana', 'cherry')
first_element = fruits[0]
print(first_element)

apple

In [20]:
#13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

my_tuple = (1, 2, 3, 2, 4, 2)
count = my_tuple.count(2)
print(count)

3

In [21]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

animals = ('dog', 'cat', 'rabbit')
index = animals.index('cat')
print(index)

1

In [23]:
#15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

fruits = ('apple', 'orange', 'banana')
is_present = "banana" in fruits
print(is_present)

True

In [24]:
#16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it

my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [25]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}

my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

#From here Questions 18 to 24 are exact same from Questions 11 to 17 in Question paper

- That's why I am repeating it again

In [26]:
#18. Write a code to create a tuple with the elements 10, 20, 30 and print it

my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [27]:
#19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

fruits = ('apple', 'banana', 'cherry')
first_element = fruits[0]
print(first_element)

apple

In [28]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

my_tuple = (1, 2, 3, 2, 4, 2)
count = my_tuple.count(2)
print(count)

3

In [29]:
#21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

animals = ('dog', 'cat', 'rabbit')
index = animals.index('cat')
print(index)

1

In [30]:
#22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

fruits = ('apple', 'orange', 'banana')
is_present = "banana" in fruits
print(is_present)

True

In [32]:
#23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it

my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [33]:
#24. Write a code to add the element 6 to the set {1, 2, 3, 4}

my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}